@model SortexAdminV._1.ViewModels.TrendImagesUploadViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TrendImage</h4>

<form asp-action="Create" asp-controller="TrendImages" method="post" enctype="multipart/form-data">
    @for (int i = 0; i < @ViewBag.NumberOfImages; i++)
    {
        <div class="form-group">
            <label for="@i.ToString();">Filename: @i.ToString();</label>
            <input type="file" name="files" id="@i.ToString();" />
        </div>
    }
    <input type="hidden" value="@ViewBag.TrendId" asp-for="TrendId" />
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
