@model List<SortexAdminV._1.Models.TrendImage>

@{
    ViewData["Title"] = "Delete";
}

<h3>Välj vilka bilder du vill radera</h3>
<div>
    <form asp-action="Delete">
        @foreach (var image in Model)
        {
            <div class="form-group">
                <input type="checkbox" id="@image.Id" name="selectedImages" value="@image.Id" />
                <label for="@image.Id">
                    <img class="img-delete" src="@image.Image" />
                </label>
            </div>
        }
        <input type="hidden" readonly value="@ViewBag.TrendId" name="Id" />
        <div class="form-group">
            <input type="submit" value="Radera" class="btn btn-danger" />
        </div>
        <a asp-action="Index" asp-controller="Trends">Tillbaka</a>
    </form>

</div>
