@model SortexAdminV._1.Models.Modeboard

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera @Model.Name</h1>
<h3>Är du säker på att du vill radera @Model.Name?</h3>
<div class="card">
    <h4 class="card-img-top text-center text-black font-weight-bold pt-2 pb-1">@Model.Name</h4>
    <div class="card-body">
        <h5 class="card-title">Beskrivning </h5>
        <p class="card-title">@Model.Description</p>
        <p class="line"></p>
        <h5 class="card-title">Bild</h5>
        <p class="card-title">@Model.Image</p>
        <p class="line"></p>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Radera" class="btn btn-danger" />
            <a class="btn btn-primary" asp-action="Index">Tillbaka</a>
        </form>
    </div>
</div>
