@model IEnumerable<SortexAdminV._1.Models.Assignment>

@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">
    <div class="text-center">
        <img src="~/icons/assignmenticon.png" alt="Assignment Icon" class="img-top" />
    </div>
    <p class="lead">Här kan du se, skapa, ändra eller ta bort alla era "att tänka på"!</p>
    <p class="line"></p>
    <p>Genom att klicka på knappen nedan kan du skapa en ny "att tänka på". Du kan fylla i valfritt namn, beskrivning och om du finner en passande roll.</p>
    <p class="line"></p>
    <a class="btn btn-primary" asp-action="Create">Skapa ny</a>
    <p/>
</div>
<div class="container text-center">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">
                <h4 class="card-img-top text-center text-black font-weight-bold pt-2 pb-1">@item.Name</h4>
                <div class="card-body border-light">
                    <h5 class="card-title">Beskrivning</h5>
                    <p id="DescriptionOnCard" class="card-text">@item.Description</p>
                    <p class="line"></p>
                    <h5 class="card-title">Roll</h5>
                    <p class="card-text">@item.Role</p>
                    <p class="line"></p>
                    <a class="btn btn-primary " asp-action="Edit" asp-route-id="@item.Id">Ändra</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                </div>
            </div>
        }
</div>
