@model IEnumerable<SortexAdminV._1.Models.Assignment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Skapa ny</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Beskrivning
            </th>
            <th>
                Roll
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
