@model IEnumerable<SortexAdminV._1.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    @*FÖRSLAG TILL DESIGN*@
    <p>
        <a class="btn btn-primary" asp-action="Create">Skapa ny</a>
    </p>

    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <h4 class="card-img-top text-center text-black font-weight-bold pt-2 pb-1">@item.Name</h4>
            <div class="card-body border-light">
                <h5 class="card-title">Datum</h5>
                <p class="card-text">Start: @item.Start</p>
                <p class="card-text">Slut: @item.End</p>
                <p class="line"></p>
                <h5 class="card-title">Beskrivning</h5>
                <p class="card-text">@item.Description</p>
                <p class="line"></p>
                <h6 class="card-title">Kontakt</h6>
                <p class="card-text">@item.Contact</p>
                <p class="line"></p>
                <a class="btn btn-primary " asp-action="Edit" asp-route-id="@item.Id">Ändra</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Radera</a>
            </div>
        </div>
    }
</div>
