@model IEnumerable<SortexAdminV._1.ViewModels.TrendViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">
    <div class="text-center">
        <img src="~/icons/trendicon.png" alt="Order" class="img-top" />
    </div>
    <p class="lead">Här kan du se, skapa, ändra eller ta bort alla era trender!</p>
    <p class="line"></p>
    <p>Genom att klicka på knappen nedan kan du skapa en ny trend. Du kan fylla i valfritt namn och beskrivning. Du kan också ladda upp ett valfrit antal tillhörande bilder.</p>
    <p class="line"></p>
    <a class="btn btn-primary" asp-action="CreateTrend">Skapa ny</a>
    <p></p>
</div>

<div class="container text-center">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <h4 class="card-img-top text-center text-black font-weight-bold pt-2 pb-1">@item.Season</h4>
            <div class="card-body border-light">
                <h5 class="card-title">Beskrivning</h5>
                <p id="DescriptionOnCard" class="card-text">@item.Description</p>
                <p class="line"></p>
                <a class="btn btn-primary " asp-action="Edit" asp-route-id="@item.Id">Ändra</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Radera</a>
            </div>
        </div>
    }
</div>