@model SortexAdminV._1.Models.Brand

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>
<div class="card w-100">
    <h4 class="card-img-top text-center text-black font-weight-bold pt-2 pb-1">@Model.Manufacturer</h4>
    <div class="card-body">
        <h5 class="card-title">Tillverkare</h5>
        <p class="card-title">@Model.Manufacturer</p>
        <p class="line"></p>
        <h5 class="card-title">Kön</h5>
        <p class="card-title">@Model.Gender</p>
        <p class="line"></p>
        <h5 class="card-title">Klassificering</h5>
        <p class="card-text">@Model.Classification</p>
        <p class="line"></p>
        <h5 class="card-title">Taggar</h5>
        <p class="card-title">
            @foreach (var tag in ViewData["tags"] as IList<string>)
            {
                <span>@tag &nbsp</span>
            }
        </p>
        <p class="line"></p>
        <a class="btn btn-primary" asp-action="AddTags" asp-controller="Tags" asp-route-id="@Model.Id">Lägg till taggar</a>
        <a class="btn btn-primary" asp-action="Delete" asp-controller="Tags" asp-route-id="@Model.Id">Radera taggar</a>
        <p></p>
        <p class="line"></p>
        <div class="row">
            @foreach (var image in ViewData["images"] as IList<string>)
            {
                <div class="col-sm">
                    <img src="@image" alt="..." class="img-thumbnail">
                </div>
            }
        </div>
        <p></p>
        <p class="line"></p>
        <a class="btn btn-primary" asp-action="AddImages" asp-controller="BrandImages" asp-route-id="@Model.Id">Lägg till bilder</a>
        <a class="btn btn-primary" asp-action="Delete" asp-controller="BrandImages" asp-route-id="@Model.Id">Radera bilder</a>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Ändra</a>
        <a class="btn btn-primary" asp-action="Index">Tillbaka</a>
    </div>
</div>
